
<div class="row">
  <div class="span4">

  	<h2>Barra de Navegaci&oacute;n<h2>

  </div>
  <div class="span8">

  		<h1>Curso Ruby on Rails</h1>
		<p>
			Ejemplo de Aplicaci&oacute;n utilizando el framework ruby on rails
			<%= link_to "Enlace a Oja.la", "http://oja.la"%>
			<%= link_to "Ruby on Rails", "http://rubyonrails.org"%>
		</p>
		
  </div>
</div>
