<% if user_signed_in? %>

<h2> Bienvenido de nuevo al sistema<h2>

<% else %>
<div class="row">
  <div class="span4">

  	<h2>Barra de Navegaci&oacute;n<h2>

  </div>
  <div class="span8">

  	<div class="jumbotron">
  <h1>Curso Ruby on Rails</h1>
  <p>
			Ejemplo de Aplicaci&oacute;n utilizando el framework ruby on rails
			<%= link_to "Enlace a Oja.la", "http://oja.la"%>
			<%= link_to "Ruby on Rails", "http://rubyonrails.org"%>
		</p>
  <p><%= link_to "Registrarse", new_user_registration_path,:class=>"btn btn-primary btn-large"%></p>
</div>

  		<h1></h1>
		
		
  </div>
</div>
<% end %>